header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #173F5F;
  color: #FAFFFF;
}
  

/* LOGO */
.logo {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 25px;
}

.logo-inner {
  background-color: #F39C12; /* The gold color for the rectangular background */
  padding: 4px 10px;
  border-radius: 7px; /* Giving it slightly rounded corners */
}

.logo a {
  color: #173F5F; /* Deep blue text color for the logo */
  text-decoration: none; /* Removing any underlines */
}
/* ------------- LOGO END ------------- */

.username {
  margin-right: 30px;
  font-weight: bold;
  color: #FAFFFF; /* Make the username color consistent */
}

.user-menu {
  display: flex;
  align-items: center;
}



.logout-btn {
  background: #173F5F;
  font-weight: bold;
  color: #FAFFFF;
  border: 2px solid #FAFFFF; /* Adding a border for better visual effect */
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.logout-btn:hover {
  background: #FAFFFF; /* Gold color on hover for consistency */
  color: #173F5F; /* Deep blue text on hover */
}

/* ---------------------------- */

.dropdown {
  position: relative;
}

.dropbtn {
  background: #173F5F;
  font-weight: bold;
  color: #FAFFFF;
  border: 2px solid #FAFFFF;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, border-radius 0.3s ease;
  border-radius: 5px;
}

.dropdown:hover .dropbtn {
  background: #FAFFFF;
  color: #173F5F;
  border-radius: 5px 5px 0 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #173F5F; 
  min-width: 200px;
  padding: 20px;
  border: 2px solid #FAFFFF;
  border-top: none; 
  box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px 0 5px 10px; 
}

.dropdown-content a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #173F5F;
}

.dropdown-content a:hover {
  color: #F39C12;
  font-weight: bold;

}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #FAFFFF;
}

/* ---------------------------- */

