.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 100px;
}

.login-card {
    margin: 50px;
    background: FAFFFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px #173f5f7e;
    width: 100%;
    max-width: 420px;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2em;
    color: #173F5F;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: 3px solid #173F5F;
    display: inline-block;
    padding-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    background-color: #173F5F;
    color: white;
    border: none;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.submit-btn:hover {
    background-color: #F39C12;
    transition: 200ms;
}

.register-link {
    margin-top: 1rem;
    text-align: center;
}

.register-link a {
    color: #173F5F;
    text-decoration: none;
}

.register-link a:hover {
    color: #F39C12;
    text-decoration: underline;
    transition: 200ms;

}
