<div class="container">

    <div *ngIf="bookList && bookList.length > 0">
        <div class="d-flex">
            <h2> My reading list: </h2>
        </div>

        <div *ngIf="bookList && bookList.length > 0">
            <div *ngFor="let book of bookList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems };"
                class="row justify-content-sm-center book-card">

                <div class="col col-sm-2">
                    <img class="book-img" [src]="book.coverData64" alt="Book Image"
                        [routerLink]="['/bookDetails', book._id]">
                </div>

                <div class="col col-sm">
                    <div class="book-title" [routerLink]="['/bookDetails', book._id]">
                        {{book.title}}
                    </div>

                    <div class="authorsRow">
                        <span class="by-text">by: &nbsp;</span>
                        <ng-container *ngFor="let author of book.authors; let i = index">
                            <span [routerLink]="['/authorDetails', author._id]" class="authorLink">{{ author.name
                                }}</span>{{ i < book.authors.length - 1 ? ',&nbsp;' : '' }} </ng-container>
                    </div>

                    <div class="book-description">
                        <p *ngIf="book.description == null">This book doesn't have a description yet.</p>
                        <p *ngIf="book.description && book.description.length <= 1000">{{book.description}}</p>
                        <p *ngIf="book.description && book.description.length > 1000">{{book.description.substring(0,
                            1000)}}...</p>
                    </div>


                </div>

                <div class="col col-sm-1 d-flex justify-content-center align-items-center ">
                    <button class="remove-button" (click)="removeFromReadingList(book)">Remove</button>
                </div>

            </div>

            <!-- Pagination Controls -->
            <div class="d-flex justify-content-center">
                <pagination-controls (pageChange)="currentPage = $event;"></pagination-controls>
            </div>

        </div>

        

    </div>
    <!-- Display this when there are no books to show -->
    <div *ngIf="bookList.length == 0">
        <div class="d-flex justify-content-center">
            <h4 class="text-dark"> You haven't added any books to your reading list! Go explore some books! </h4>
        </div>
    </div>

</div>