<div class="container">

    <div *ngIf="bookList && bookList.length > 0">
        <div class="d-flex justify-content-center">
            <h2> My reading list: </h2>
        </div>
        <div *ngFor="let book of bookList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems };" class="row justify-content-sm-center">
    
            <div class="col col-sm-2 d-flex justify-content-center" style="background-color: rgb(0, 255, 76);">
                <img class="card-image" [src]="book.coverData64" alt="Book Image" [routerLink]="['/bookDetails', book._id]">
            </div>
    
            <div class="col col-sm">
                <div class="row" style="background-color: rgb(255, 0, 191);" [routerLink]="['/bookDetails', book._id]">
                    {{book.title}}
                </div>
                
                <div class="row" style="background-color: rgb(0, 195, 255);">
                    by: 
                    <span *ngFor="let author of book.authors">{{author.name}} </span>
                </div>
    
                <div class="row" style="background-color: rgb(38, 0, 255);">
                    <p *ngIf="book.description == null">This book doesn't have a description yet.</p>
                    <p *ngIf="book.description && book.description.length <= 1000">{{book.description}}</p>
                    <p *ngIf="book.description && book.description.length > 1000">{{book.description.substring(0, 1000)}}...</p>
                </div>

                
            </div>

            <div class="col col-sm-1 d-flex justify-content-center align-items-center" style="background-color: rgb(0, 255, 76);">
                <button (click)="removeFromReadingList(book)">Remove</button>
            </div>
            

        </div>

        <!-- Pagination Controls -->
        <div class="d-flex justify-content-center">
            <pagination-controls  (pageChange)="currentPage = $event;"></pagination-controls>
        </div>
        
    </div>
    
    <!-- Display this when there are no books to show -->
    <div *ngIf="!bookList || bookList.length === 0">
        <div class="d-flex justify-content-center">
            <h4> You haven't added any books to your reading list! Go explore some books! </h4>
        </div>
    </div>

</div>