body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 100px;
}

.login-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 420px;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    background-color: #0165d8;
    color: white;
    border: none;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.submit-btn:hover {
    background-color: #0153b1;
}

.register-link {
    margin-top: 1rem;
    text-align: center;
}

.register-link a {
    color: #0b59ce;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
