<div class="container">

    <!-- search bar  -->
    <div class = "row searchBarRow justify-content-sm-center">
        <div class="col col-sm">
            <input type="text" [(ngModel)]="searchParam" name="search" id="searchInput" placeholder="Search..." style="width: 100%;">
        </div>
        
        <div class="col col-sm-1" >
            <button class="button" (click)="search()" style="width: 100%;">Search</button>
        </div>
    </div>
    //PREPRAVI DA NADJE ONE CIJI TITLE SADRZI SEARCHPARAM

    <!-- banner start  -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" *ngFor="let featBook of featuredBooks;let i=index" [ngClass]="{active:i===1}">

                <img  [src]="featBook.coverData64" class="d-block w-100" alt="...">

                <div class="carousel-caption d-none d-md-block">
                    <h2>{{featBook.title}}</h2>
                    <p>{{featBook.description}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- banner end  -->


    <div class="container mt-3 mb-5 p-4">

        <!--  Trending  -->
        <div class="row">
            <h4 class="text-dark">Trending Books</h4>
            
            <div class="rowposter mt-1 p-1 mb-4">
                <ng-container *ngFor="let featBook of featuredBooks">
                    <img class="rowimg largeposter" [src]="featBook.coverData64" alt="Book Image" [routerLink]="['/bookDetails', featBook._id]">
                </ng-container>
            </div>
        </div>

        <!--  Top picks  -->
        <div class="row">
            <h4 class="text-dark">Top picks</h4>
            
            <div class="rowposter mt-1 p-1 mb-4">
                <ng-container *ngFor="let featBook of featuredBooks">
                    <img class="rowimg largeposter" [src]="featBook.coverData64" alt="Book Image" [routerLink]="['/bookDetails', featBook._id]">
                </ng-container>
            </div>
        </div>

        <!--  Science fiction  -->
        <div class="row">
            <h4 class="text-dark">Science fiction</h4>
            
            <div class="rowposter mt-1 p-1 mb-4">
                <ng-container *ngFor="let sciFiBook of sciFiBooks">
                    <img class="rowimg largeposter" [src]="sciFiBook.coverData64" alt="Book Image" [routerLink]="['/bookDetails', sciFiBook._id]">
                </ng-container>
            </div>
        </div>

        <!--  Fantasy  -->
        <div class="row">
            <h4 class="text-dark">Fantasy</h4>
            
            <div class="rowposter mt-1 p-1 mb-4">
                <ng-container *ngFor="let book of fantasyBooks">
                    <img class="rowimg largeposter" [src]="book.coverData64" alt="Book Image" [routerLink]="['/bookDetails', book._id]">
                </ng-container>
            </div>
        </div>

        <h4 class="text-dark">Check out other categories:</h4>

        <span *ngFor="let cat of allCategories">
            <a [routerLink]="['/categorySearchPage', cat.categoryName]"> {{cat.showName}} </a> &nbsp;|
        </span>

    </div>

</div>
