.password-card {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px #173f5f7e;
    background-color: #FAFFFF;
}

h2 {
    font-size: 2em;
    color: #173F5F;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: 3px solid #173F5F;
    display: inline-block;
    padding-bottom: 5px;
}

label{
    color: #173F5F;

}

.password-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    background-color: #173F5F;
    color: #FAFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #F39C12;
}

.error-message {
    font-size: 0.8em;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.error-message::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-right-color: #f8d7da;
}

