/* ---------------- AUTHOR DETAILS PART ---------------- */

.author-details-container {
    display: flex;
    background-color: #FAFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #173f5f75;
    margin: 20px 0;
}

.author-image-section {
    flex: 1;
    padding-right: 20px;
    text-align: center; /* Centering elements vertically */
}

.author-image {
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 20px; /* Add space below the image */
}

.author-info-section {
    flex: 2;
    padding-left: 20px; /* To separate the sections */
}

.admin-actions {
    margin-top: 20px;
}



h2, h4 {
    color: #173F5F;
}

.author-name-section{
    margin-top: 20px;
    font-weight: 700;
    border-bottom: 3px solid #173F5F;
    display: inline-block;
    padding-bottom: 5px;
    color: #173F5F;
}

p {
    color: #555;
    margin-bottom: 15px;
}

.links-section a {
    color: #F39C12;
    text-decoration: none;
}

.links-section a:hover {
    text-decoration: underline;
}

.actions button {
    flex: 1;
    /* Allow buttons to grow and take available space */
    padding: 10px 0;
    /* Adjust padding to make the button look better */
    text-align: center;
    /* Center the text of the button */
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button {
    background-color: #173F5F;
    color: #FAFFFF;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* ... (rest of your CSS) ... */

.admin-actions {
    display: flex;
    gap: 2px; /* This will add a small gap between the buttons */
}

.edit-btn, .delete-btn {
    width: 50%; /* Makes each button take up half the available space */
    display: block; /* Make them block elements so they fill the space */
    text-align: center; /* Align text to center */
}

/* Styling for the edit button */
.edit-btn {
    background-color: #173F5F; /* Deep blue color */
}

.edit-btn:hover {
    background-color: #F39C12; /* Orange color on hover */
}

/* Styling for the delete button */
.delete-btn {
    background-color: #e91212; /* Red color */
}

.delete-btn:hover {
    background-color: #F39C12; /* Orange color on hover */
}

/* ---------------- END of AUTHOR DETAILS PART ---------------- */




/* ---------------- WORKS PART ---------------- */
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #173F5F;
    color: #173F5F;
}

.works.card-layout{
    background-color: #FAFFFF;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #173f5f75;
    margin-bottom: 50px;
}

.book-card {
    background-color: #faffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 8px #173f5f5d;
    padding: 20px;
    transition: transform 300ms, box-shadow 300ms;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #173f5f5d;
}

.book-img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-right: 20px;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    color: #173F5F;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 300ms;
}

.book-title:hover {
    color: #F39C12;
}

.authorsRow {
    margin-bottom: 15px;
    color: #777;
    font-style: italic;
}

.by-text {
    font-weight: bold;
    color: #173F5F;
}

.authorLink {
    color: #F39C12;
    cursor: pointer;
    transition: color 300ms;
}

.authorLink:hover {
    text-decoration: underline;
    color: #F39C12;
}

.book-description {
    color: #555;
    line-height: 1.5;
}
/* ---------------- END WORKS PART ---------------- */